<% include header %>

    <div class="login-card">
      <h1><%= title %></h1>
      <% if (locals.flash) { %>
        <p><%= flash %></p>
      <% } %>

      <% include qr_exchange %>
    </div>
 
<% include footer %>